<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Building a more innovative software platform" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Home | Daniel K. Weah, Jr - Personal Portfolio</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo.jpg" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/slick.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.css" />
    <link rel="stylesheet" href="/assets/css/aos.css" />
    <link rel="stylesheet" href="/assets/css/plugins/feature.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body class="template-color-1 spybody" data-spy="scroll" data-target=".navbar-example2" data-offset="70" >

    <header class="rn-header haeder-default black-logo-version header--fixed header--sticky">
        <div class="header-wrapper rn-popup-mobile-menu m--0 row align-items-center">
            <div class="col-lg-2 col-6">
                <div class="header-left">
                    <div class="logo">
                        <a href="/">
                            <h5 style="color: #ff014f;">Mr. Software</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-6">
                <div class="header-center">
                    <nav id="sideNav" class="mainmenu-nav navbar-example2 d-none d-xl-block onepagenav">
                        <ul class="primary-menu nav nav-pills">
                            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                            <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
                            <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                            <li class="nav-item"><a class="nav-link" href="#contacts">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="header-right">
                        <div class="hamberger-menu d-block d-xl-none">
                            <i id="menuBtn" class="feather-menu humberger-menu" data-feather="menu"></i>
                        </div>
                        <div class="close-menu d-block">
                            <span class="closeTrigger">
                                <i data-feather="x"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="menu-top">
                <div class="menu-header">
                    <a class="logo" href="/">
                        <img src="/assets/images/logo.png" alt="Personal Portfolio" />
                    </a>
                    <div class="close-button">
                        <button class="close-menu-activation close"><i data-feather="x"></i></button>
                    </div>
                </div>
                <p class="discription">Building and managing professional website and mobile application.</p>
            </div>
            <div class="content">
                <ul class="primary-menu nav nav-pills onepagenav">
                    <li class="nav-item current"><a class="nav-link smoth-animation active" href="#home">Home</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#resume">Resume</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link smoth-animation" href="#contacts">Contact</a></li>
                </ul>
                <div class="social-share-style-1 mt--40">
                    <span class="title">find with me</span>
                  
                    <ul class="social-share d-flex liststyle">
                        <li class="facebook">
                            <a href="https://www.facebook.com/daniel.weah.9279?mibextid=LQQJ4d" target="_blank" title="Find me on Facebook">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook" style="color: #ff014f;">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="https://www.instagram.com/daniel_godfavorite" target="_blank" title="Find me on Instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram" style="color: #ff014f;">
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="https://www.linkedin.com/in/daniel-k-weah-jr-970021252/" target="_blank" title="Find me on linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin" style="color: #ff014f;">
                                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path>
                                    <rect x="2" y="9" width="4" height="12"></rect>
                                    <circle cx="4" cy="4" r="2"></circle>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <main class="main-page-wrapper">
        <div id="home" class="rn-slider-area">
            <div class="slide slider-style-1">
                <div class="container">
                    <div class="row row--30 align-items-center">
                        <div class="order-2 order-lg-1 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
                            <div class="content">
                              <div class="inner">
                                <span class="subtitle">Step into My World</span>
                                <h1 class="title">Hello, I’m <span style="color: #0145ff;">Daniel K. Weah, Jr</span><br>
                                    <span class="header-caption" id="page-top">
                                        <span class="cd-headline clip is-full-width">
                                            <span>a </span>
                                            <span class="cd-words-wrapper">
                                                <b class="is-visible">Developer.</b>
                                                <b class="is-hidden">Creative Coder.</b>
                                                <b class="is-hidden">Tech Enthusiast.</b>
                                            </span>
                                        </span>
                                    </span>
                                </h1>
                                <p class="description">
                                    I’m a passionate <strong>Software Engineer</strong> committed to delivering high-quality solutions and ensuring the best outcomes for my clients.
                                </p>
                            </div>
                            
                                <div class="row">
                                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                        <div class="social-share-inner-left">
                                          <span class="title">Connect with Me</span>
                                          <ul class="social-share d-flex liststyle" >

                                                <li class="facebook" title="Find me on Facebook"><a href="https://www.facebook.com/daniel.weah.9279?mibextid=LQQJ4d" target="_blank"><i data-feather="facebook" style="color: #ff014f;"></i></a></li>

                                                <li class="instagram" title="Find me on Instagram"><a href="https://www.instagram.com/daniel_godfavorite" target="_blank"><i data-feather="instagram" style="color: #ff014f;"></i></a>
                                                </li>

                                                <li class="linkedin" title="Find me on linkedin"><a href="https://www.linkedin.com/in/daniel-k-weah-jr-970021252/" target="_blank"><i data-feather="linkedin" style="color: #ff014f;"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-1 order-lg-2 col-lg-5">
                            <div class="thumbnail">
                                <div class="inner">
                                    <img src="/assets/images/developer.png" alt="Personal Portfolio Images" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rn-service-area rn-section-gap section-separator" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-left" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
                          <span class="subtitle">Key Highlights</span>
                          <h2 class="title">How I Can Help You</h2>                          
                        </div>
                    </div>
                </div>
                <div class="row row--25 mt_md--10 mt_sm--10">

                   
                  
                  <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="smartphone"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Mobile App Development</h4>
                                <p class="description">I create user-friendly mobile applications that bring your ideas to life, ensuring a seamless experience on any device.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="monitor"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Web Application Development</h4>
                                <p class="description"> My web applications are built for performance, scalability, and user engagement, ensuring that your online presence is effective and impactful.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30">
                    <div class="rn-service">
                        <div class="inner">
                            <div class="icon">
                                <i data-feather="check-square"></i>
                            </div>
                            <div class="content">
                                <h4 class="title">Software Testing & Maintenance</h4>
                                <p class="description">I offer comprehensive software testing and maintenance services to ensure your application runs smoothly, remains secure, and stays up to date.</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
       
    

        <div class="rn-resume-area rn-section-gap section-separator" id="resume">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-title text-center">
                  <span class="subtitle">Over 3 Years of Expertise</span>
                  <h2 class="title">My Professional Journey</h2>
                </div>
              </div>
            </div>
            <div class="row mt--45">
              <div class="col-lg-12">
                <ul class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="education-tab" data-bs-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="true">Education</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="professional-tab" data-bs-toggle="tab" href="#professional" role="tab" aria-controls="professional" aria-selected="false">Professional Skills</a>
                  </li>
                </ul>
        
                <div class="rn-nav-content tab-content" id="myTabContents">
                  <div class="tab-pane show active fade single-tab-area" id="education" role="tabpanel" aria-labelledby="education-tab">
                    <div class="personal-experience-inner mt--40">
                      <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                          <div class="content">
                            <h4 class="maintitle">Educational Background</h4>
                            <div class="experience-list">
                              <div class="resume-single-list">
                                <div class="inner">
                                  <div class="heading">
                                    <div class="title">
                                      <h4>Certificate in Node.js Full-Stack Web Development</h4>
                                      <span>Orange Digital Center (ODC)</span>
                                    </div>
                                    <div class="date-of-time">
                                      <span>Rating: 4.30/9</span>
                                    </div>
                                  </div>
                                  <p class="description">
                                    Completing the Node.js Full-Stack Web Development program at Orange Digital Center equipped me with comprehensive skills in building platforms that interact with servers.
                                  </p>
                                </div>
                              </div>
                            
                              <div class="resume-single-list">
                                <div class="inner">
                                  <div class="heading">
                                    <div class="title">
                                      <h4>C-Certificate in Early Childhood Education</h4>
                                      <span>Edify Liberia (2023)</span>
                                    </div>
                                    <div class="date-of-time">
                                      <span>Rating: 4.30/5</span>
                                    </div>
                                  </div>
                                  <p class="description">
                                    The Early Childhood Education certificate from Edify Liberia has strengthened my teaching foundation and understanding of early learning.
                                  </p>
                                </div>
                              </div>
                             
                              <div class="resume-single-list">
                                <div class="inner">
                                  <div class="heading">
                                    <div class="title">
                                      <h4>AA Degree in Software Engineering</h4>
                                      <span>BlueCrest University College (2022 - 2024)</span>
                                    </div>
                                    <div class="date-of-time">
                                      <span>Rating: 4.50/5</span>
                                    </div>
                                  </div>
                                  <p class="description">
                                    The AA Degree in Software Engineering from BlueCrest University College empowered me to build and maintain modern web applications.
                                  </p>
                                </div>
                              </div>
                             
                              <div class="resume-single-list">
                                <div class="inner">
                                  <div class="heading">
                                    <div class="title">
                                      <h4>High School Diploma</h4>
                                      <span>Rosa Allen School System (2022)</span>
                                    </div>
                                    <div class="date-of-time">
                                      <span>Rating: 4.80/5</span>
                                    </div>
                                  </div>
                                  <p class="description">
                                    The education I received from Rosa Allen School System provided me with the foundation I needed to advance academically and professionally.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                        <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
                          <div class="content">
                            <h4 class="maintitle">Professional Experience</h4>
                            <div class="experience-list">
                              <div class="resume-single-list">
                                <div class="inner">
                                  <div class="heading">
                                    <div class="title">
                                      <h4>Software Developer</h4>
                                      <span>Kwagei Group of Companies</span>
                                    </div>
                                    <div class="date-of-time">
                                      <span>Rating: 5.70/5</span>
                                    </div>
                                  </div>
                                  <p class="description">
                                    As a Software Developer at Kwagei Group of Companies, I leveraged my technical expertise to design and implement innovative software solutions, contributing to the optimization of business processes. My work helped enhance system efficiency and provided value-driven solutions across multiple projects.
                                  </p>
                                </div>
                              </div>
                              
                              <div class="resume-single-list">
                                <div class="inner">
                                  <div class="heading">
                                    <div class="title">
                                      <h4>Computer Instructor</h4>
                                      <span>Evangelical Congregational School System (2023)</span>
                                    </div>
                                    <div class="date-of-time">
                                      <span>Rating: 4.70/5</span>
                                    </div>
                                  </div>
                                  <p class="description">
                                    My strong understanding of computers has helped my students excel in their studies and gain valuable skills in the field of technology.
                                  </p>
                                </div>
                              </div>
                            
                              <div class="resume-single-list">
                                <div class="inner">
                                  <div class="heading">
                                    <div class="title">
                                      <h4>Personal Computer Tutor & Home Classes</h4>
                                      <span>Private Classes (2020 - 2021)</span>
                                    </div>
                                    <div class="date-of-time">
                                      <span>Rating: 4.95/5</span>
                                    </div>
                                  </div>
                                  <p class="description">
                                    I offered home-based tutoring to individuals, helping them strengthen their existing knowledge of computers and also guiding complete beginners.
                                  </p>
                                </div>
                              </div>
                          
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <div class="tab-pane fade" id="professional" role="tabpanel" aria-labelledby="professional-tab">
                    <div class="personal-experience-inner mt--40">
                      <div class="row row--40">
                        <div class="col-lg-6 col-md-6 col-12">
                          <div class="progress-wrapper">
                            <div class="content">
                              <span class="subtitle">Core Competencies</span>
                              <h4 class="maintitle">Design Skills</h4>
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">Photoshop</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">50%</span>
                                  </div>
                                </div>
                              </div>
        
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">Figma</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">95%</span>
                                  </div>
                                </div>
                              </div>
        
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">Adobe Illustrator</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">30%</span>
                                  </div>
                                </div>
                              </div>
        
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">Design</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay=".7s" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">90%</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-lg-6 col-md-6 col-12 mt_sm--60">
                          <div class="progress-wrapper">
                            <div class="content">
                              <span class="subtitle">Technical Skills</span>
                              <h4 class="maintitle">Development Skills</h4>
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">HTML</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">100%</span>
                                  </div>
                                </div>
                              </div>
        
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">CSS</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.6s" data-wow-delay=".4s" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">95%</span>
                                  </div>
                                </div>
                              </div>
        
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">JavaScript</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">60%</span>
                                  </div>
                                </div>
                              </div>
        
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">React.js</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".6s" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">85%</span>
                                  </div>
                                </div>
                              </div>
        
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">React Native</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay=".7s" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">50%</span>
                                  </div>
                                </div>
                              </div>
        
                              <div class="progress-charts">
                                <h6 class="heading heading-h6">Node.js</h6>
                                <div class="progress">
                                  <div class="progress-bar wow fadeInLeft" data-wow-duration="0.9s" data-wow-delay=".7s" role="progressbar" style="width: 83%" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">
                                    <span class="percent-label">80%</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      <div
      class="rn-testimonial-area rn-section-gap section-separator"
      id="testimonial"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center">
              <span class="subtitle">What Clients Say</span>
              <h2 class="title">Testimonial</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="testimonial-activation testimonial-pb mb--30">
              <div class="testimonial mt--50 mt_md--40 mt_sm--40">
                <div class="inner">
                  <div class="card-info">
                    <div class="card-thumbnail">
                      <img
                        src="https://media.istockphoto.com/id/2073254261/photo/an-adult-man-is-using-his-smartphone.jpg?s=612x612&w=0&k=20&c=-cqitzf6BRgS0o9BZnQiG_6LB9317jAK_qLgeUSG14c="
                        alt="Testimonial-image"
                      />
                    </div>
                    <div class="card-content">
                      <h3 class="title">Alonso Dennis</h3>
                    </div>
                  </div>
                  <div class="card-description">
                    <div class="title-area">
                      <div class="title-info">
                        <h3 class="title">Android App Development</h3>
                        <span class="date"
                          >via Upwork - Mar 4, 2021 - Aug 30, 2022</span
                        >
                      </div>
                      <div class="rating">
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                      </div>
                    </div>
                    <div class="seperator"></div>
                    <p class="discription">
                      Building more surfesticated Android Mobile Application for his client is what he desire. Please feel free to hire him.
                    </p>
                  </div>
                </div>
              </div>
              
              <div class="testimonial mt--50 mt_md--40 mt_sm--40">
                <div class="inner">
                  <div class="card-info">
                    <div class="card-thumbnail">
                      <img
                        src="https://media.istockphoto.com/id/1961182478/photo/happy-young-woman-using-phone.jpg?s=612x612&w=0&k=20&c=rETXGEUzmv4sjs8_ju_jonOHh5QzrUXdy4RkhMPEOsU="
                        alt="Testimonial-image"
                      />
                    </div>
                    <div class="card-content">
                      <h3 class="title">Jade White</h3>
                    </div>
                  </div>
                  <div class="card-description">
                    <div class="title-area">
                      <div class="title-info">
                        <h3 class="title">Web App Development</h3>
                        <span class="date"
                          >Upwork - Mar 4, 2022 - Aug 30, 2022</span
                        >
                      </div>
                      <div class="rating">
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                      </div>
                    </div>
                    <div class="seperator"></div>
                    <p class="discription">
                      Building more surfesticated Web-based Application for his client is what he desire. Please feel free to hire him..
                    </p>
                  </div>
                </div>
              </div>
              
              <div class="testimonial mt--50 mt_md--40 mt_sm--40">
                <div class="inner">
                  <div class="card-info">
                    <div class="card-thumbnail">
                      <img
                        src="https://media.istockphoto.com/id/2066301960/photo/man-with-eyeglasses-stand-at-home-use-mobile-phone-sms-texting.jpg?s=612x612&w=0&k=20&c=6WBKuAaKy43cColcv9TaSIN1gu_rIF_q-o0WtPBZ3Z8="
                        alt="Testimonial-image"
                      />
                    </div>
                    <div class="card-content">
                      <h3 class="title">Nelson White</h3>
                    </div>
                  </div>
                  <div class="card-description">
                    <div class="title-area">
                      <div class="title-info">
                        <h3 class="title">IOS App Development</h3>
                        <span class="date"
                          >Fiver - Apr 24, 2021 - June 07, 2022</span
                        >
                      </div>
                      <div class="rating">
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                        <img
                          src="assets/images/icons/rating.png"
                          alt="rating-image"
                        />
                      </div>
                    </div>
                    <div class="seperator"></div>
                    <p class="discription">
                      No more question for design.Building more surfesticated IOS Mobile Application for his client is what he desire. Please feel free to hire him...
                    </p>
                  </div>
                </div>
              </div>

               </div>
          </div>
        </div>
      </div>
    </div>
   
      <div
      class="rn-pricing-area rn-section-gap section-separator"
      id="pricing"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-lg-4 col-xl-5 mb_md--40 mb_sm--40 small-margin-pricing"
          >
            <div
              class="d-block d-lg-flex text-center d-lg-left section-flex flex-wrap align-content-start h-100"
            >
              <div class="position-sticky sticky-top rbt-sticky-top-adjust">
                <div class="section-title text-left">
                  <span class="subtitle text-center text-lg-left"
                    >Pricing</span
                  >
                  <h2 class="title text-center text-lg-left">My Pricing</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-8 col-xl-7">
            <div class="navigation-wrapper">
              <ul class="nav" id="myTab" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-style"
                    id="test-tab"
                    data-bs-toggle="tab"
                    href="#test"
                    role="tab"
                    aria-controls="test"
                    aria-selected="false"
                    >Static</a
                  >
                </li>

                <li class="nav-item recommended">
                  <a
                    class="nav-style active"
                    id="profile-tab"
                    data-bs-toggle="tab"
                    href="#profile"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="true"
                    >Standard</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-style"
                    id="contact-tab"
                    data-bs-toggle="tab"
                    href="#contact"
                    role="tab"
                    aria-controls="contact"
                    aria-selected="false"
                    >Premium</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade"
                  id="test"
                  role="tabpanel"
                  aria-labelledby="test-tab"
                >
                  <div class="rn-pricing">
                    <div class="pricing-header">
                      <div class="header-left">
                        <h2 class="title">Static Website</h2>
                        <span>Being Static</span>
                      </div>
                      <div class="header-right">
                        <span>$150.00</span>
                      </div>
                    </div>
                    <div class="pricing-body">
                      <p class="description">
                        Developing a well designed static website with the best user interface and user experience.
                      </p>
                      <div class="check-wrapper">
                        <div class="left-area">
                          <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Effective</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Fast & Secure</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Responsive Design</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Best UI/UX</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Design Customization</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Reliable</p>
                            </div>
                        </div>
                        <div class="right-area">
                          <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Effective</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Fast & Secure</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Responsive Design</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Best UI/UX</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Design Customization</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Reliable</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="pricing-footer">
                      <a href="tel: +231771894241" class="rn-btn d-block">
                        <span>CONTACT NOW</span>
                        <i data-feather="arrow-right"></i>
                      </a>
                      <div class="time-line">
                        <div class="single-cmt d-flex">
                          <i data-feather="clock"></i>
                          <span>Quick Delivery</span>
                        </div>
                        <div class="single-cmt d-flex">
                          <i data-feather="activity"></i>
                          <span>Unlimited</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-pane fade show active"
                  id="profile"
                  role="tabpanel"
                  aria-labelledby="profile-tab"
                >
                  <div class="rn-pricing">
                    <div class="pricing-header">
                      <div class="header-left">
                        <h2 class="title">Well Designed and functional website</h2>
                        <span>Design & Functional</span>
                      </div>
                      <div class="header-right">
                        <span>$250.00</span>
                      </div>
                    </div>
                    <div class="pricing-body">
                      <p class="description">
                        Providing you the best website that is well functional and well designed to impress your clients.
                      </p>
                      <div class="check-wrapper">
                        <div class="left-area">
                          <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Effective</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Fast & Secure</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Responsive Design</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Best UI/UX</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Design Customization</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Reliable</p>
                            </div>
                        </div>
                        <div class="right-area">
                          <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Effective</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Fast & Secure</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Responsive Design</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Best UI/UX</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Design Customization</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Reliable</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="pricing-footer">
                      <a href="tel: +231771894241" class="rn-btn d-block">
                        <span>CONTACT NOW</span>
                        <i data-feather="arrow-right"></i>
                      </a>
                      <div class="time-line d-flex">
                        <div class="single-cmt d-flex">
                          <i data-feather="clock"></i>
                          <span>Quick Delivery</span>
                        </div>
                        <div class="single-cmt d-flex">
                          <i data-feather="activity"></i>
                          <span>Unlimited</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-pane fade"
                  id="contact"
                  role="tabpanel"
                  aria-labelledby="contact-tab"
                >
                  <div class="rn-pricing">
                    <div class="pricing-header">
                      <div class="header-left">
                        <h2 class="title">Full stack Web-based Application</h2>
                        <span>Full stack</span>
                      </div>
                      <div class="header-right">
                        <span>$400.00</span>
                      </div>
                    </div>
                    <div class="pricing-body">
                      <p class="description">
                       Building an innovative full stack web-based application that will be more effective between you and your clients.
                      </p>
                      <div class="check-wrapper">
                        <div class="left-area">
                          <div class="check d-flex">
                            <i data-feather="check"></i>
                            <p>Effective</p>
                          </div>
                          <div class="check d-flex">
                            <i data-feather="check"></i>
                            <p>Fast & Secure</p>
                          </div>
                          <div class="check d-flex">
                            <i data-feather="check"></i>
                            <p>Responsive Design</p>
                          </div>
                          <div class="check d-flex">
                            <i data-feather="check"></i>
                            <p>Best UI/UX</p>
                          </div>
                          <div class="check d-flex">
                            <i data-feather="check"></i>
                            <p>Design Customization</p>
                          </div>
                          <div class="check d-flex">
                            <i data-feather="check"></i>
                            <p>Reliable</p>
                          </div>
                        </div>
                        <div class="right-area">
                          <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Effective</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Fast & Secure</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Responsive Design</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Best UI/UX</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Design Customization</p>
                            </div>
                            <div class="check d-flex">
                              <i data-feather="check"></i>
                              <p>Reliable</p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="pricing-footer">
                      <a href="tel: +231771894241" class="rn-btn d-block">
                        <span>CONTACT NOW</span>
                        <i data-feather="arrow-right"></i>
                      </a>
                      <div class="time-line d-flex">
                        <div class="single-cmt d-flex">
                          <i data-feather="clock"></i>
                          <span>Quick Delivery</span>
                        </div>
                        <div class="single-cmt d-flex">
                          <i data-feather="activity"></i>
                          <span>Unlimited</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
      <div
      class="rn-contact-area rn-section-gap section-separator"
      id="contacts"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title text-center">
              <span class="subtitle">Contact</span>
              <h2 class="title">Contact With Me</h2>
            </div>
          </div>
        </div>

        <div class="row mt--50 mt_md--40 mt_sm--40 mt-contact-sm">
          <div class="col-lg-5">
            <div class="contact-about-area">
              <div class="thumbnail">
                <img
                  src="https://plus.unsplash.com/premium_photo-1661421746164-b8b53de3bd4e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aGFuZCUyMHNoYWtlfGVufDB8fDB8fHww"
                  alt="contact-img"
                />
              </div>
              <div class="title-area">
                <h4 class="title">Daniel K. Weah, Jr</h4>
                <span>Software Engineering</span>
              </div>
              <div class="description">
                <p>
                  I am available for building something cool. Connect with me via and
                  call in to my account.
                </p>
                <span class="phone"
                  >Phone: <a href="tel:+231771894241">+231771894241</a></span
                >
                <span class="mail"
                  >Email:
                  <a href="mailto:weahjrdanielk@gmail.com"
                    >weahjrdanielk@gmail.com</a
                  ></span
                >
              </div>
              <div class="social-area">
                <div class="name">FIND WITH ME</div>
                <div class="social-icone">

                  <a href="https://www.facebook.com/daniel.weah.9279?mibextid=LQQJ4d" target="_blank" title="Find me on Facebook"><i data-feather="facebook" style="color: #ff014f;"></i></a>

                  <a href="https://www.instagram.com/daniel_godfavorite" target="_blank" title="Find me on Instagram"><i data-feather="instagram" style="color: #ff014f;"></i></a>
                                                
                  <a href="https://www.linkedin.com/in/daniel-k-weah-jr-970021252/" target="_blank" title="Find me on linkedin"><i data-feather="linkedin" style="color: #ff014f;"></i></a>
                  
                </div>
              </div>
            </div>
          </div>
          <div data-aos-delay="600" class="col-lg-7 contact-input">
            <div class="contact-form-wrapper">
              <div class="introduce">
                <form action="/feedback" method="post" id="contact-form" class="rnt-contact-form row">
                  <!-- class="rnt-contact-form rwt-dynamic-form row" -->
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="contact-name">Your Name</label>
                      <input
                        class="form-control form-control-lg"
                        name = "name"
                        id="contact-name"
                        type="text"
                        placeholder="John Doe"
                      />
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="contact-phone">Phone Number</label>
                      <input
                        class="form-control"
                        name = "phone"
                        id="contact-phone"
                        type="tel"
                        placeholder="Phone should start with(+231) e.g. +231771894267"
                      />
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input
                        class="form-control form-control-sm"
                        id="contact-email"
                        name = "email"
                        type="email"
                      placeholder="john@example.com"
                      />
                    </div>
                  </div>

                 

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="contact-message">Your Message</label>
                      <textarea
                        name = "message"
                        id="contact-message"
                        cols="30"
                        rows="10"
                        placeholder="Type your message here.."
                      ></textarea>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <button
                      
                      type="submit"
                      id="submit"
                      class="rn-btn"
                    >
                      <span>SEND MESSAGE</span>
                      <i data-feather="arrow-right"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


        
        <!-- Back to  top Start -->
        <div class="backto-top">
            <div>
                <i data-feather="arrow-up"></i>
            </div>
        </div>
        <!-- Back to top end -->


       
    </main>
    <!-- Start Footer Area -->
    <div class="rn-footer-area rn-section-gap section-separator">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-area text-center">

                        <div class="logo">
                            <a href="/">
                              <h5 style="color: #ff014f;">Mr. Software</h5>

                            </a>
                        </div>

                        <p class="description mt--30">© <span id="year"></span>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <script>
    let currentYear = new Date().getFullYear();
    let year = document.getElementById('year').textContent = currentYear;

   </script>

    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/modernizer.min.js"></script>
    <script src="assets/js/vendor/feather.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/bootstrap.js"></script>
    <script src="assets/js/vendor/text-type.js"></script>
    <script src="assets/js/vendor/wow.js"></script>
    <script src="assets/js/vendor/aos.js"></script>
    <script src="assets/js/vendor/particles.js"></script>
    <script src="assets/js/vendor/jquery-one-page-nav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="/assets/js/contact.js"></script> 
   
</body>

</html>